/* Header.css */

/* Styliser la barre de navigation */
.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #e6e0de;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixer la barre de navigation en haut de la page */
  top: 0;
  z-index: 1000; /* Assurez-vous que la barre de navigation est au-dessus des autres éléments */
}

/* Positionner les éléments de la barre de navigation */
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1200px; /* Limiter la largeur pour plus de lisibilité */
  margin: 0 auto; /* Centrer la barre de navigation sur la page */
}

/* Styliser le logo */
.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo img {
  width: auto;
  height: 35px;
}

.logo h1 {
  font-size: 1rem;
  font-weight: 500;
  color:  #8a612ced;
  margin: 0;
}

/* Ajuster la disposition du menu pour les petits écrans */
.menu {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin: 0;
}
/*#4e3105
/* Styliser les éléments de navigation */
.nav__item a {
  font-weight: 700;
  color: #4e3105;
  cursor: pointer;
  margin-bottom: 60px;
  text-decoration: none;
  transition: color 0.8s;
  position: relative;
  bottom: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav__item a:hover {
  color: #8a612ced;
}

.nav__icons,.fav__icon {
  position: relative;
}

.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  position: relative;
  bottom: 20px;
}


.badge {
  position: relative;
  bottom: 10px;
  left: 13%;
  transform: translateX(-50%);
  width: 22px;
  height: 22px;
  background: rgb(75, 42, 6);
  color: #fff;
  border-radius: 150px;
  font-size: 0.6rem;
  font-weight: 500;
  z-index: 10;
  display: flex;
  text-align: center;
  cursor: pointer;
}



.mobile__menu {
  font-size: 1.3rem;
  color: var(--heading-text-color);
  display: none;
}

.nav__active {
  font-weight: 600 !important;
}

.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.579);
      z-index: 9999;
      display: none;
  }

  .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background: #fff;
      z-index: 99999;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .active__menu {
      display: block;
  }

  .mobile__menu {
      display: block;
  }

  .mobile__menu span i {
      font-size: 1.1rem;
  }

  .logo img {
      width: 1rem;
      height: 1rem;
  }

  .fav__icon i,
  .cart__icon i {
      font-size: 1.2rem !important;
  }

  .nav__icons span img {
      width: 1.4rem;
      height: 1.4rem;
  }

  .header {
      width: 100%;
      height: 60px;
      line-height: 60px;
  }
}


.nav__icons span i {
  font-size: 1.6rem;
  width: 40px;
  height: 40px;
  color: var(--heading-text-color);
  cursor: pointer;
}

.nav__icons .profile img {
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  color: var(--heading-text-color);
  border-radius: 50%;
  cursor: pointer;
}

.nav__icons .profile {
  position: relative;
  z-index: 9;
}


.nav__icons .profile .profile__actions{
  position: absolute;
  top: 98%;
  width: 150px;
  z-index: 10;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--card-bg-01);
  line-height: 30px;
  cursor: pointer;
  
}

.nav__icons .profile .profile__actions span a{
  color: #0a1d37;
  text-decoration: none;
}

.show__profileActions {
  display: block; 
}